<div class="mdl-grid portfolio-max-width portfolio-contact">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Contact</h2>
                    </div>
                    <div class="mdl-card__media">
                        <img class="article-image" src=" images/contact-image.jpg" border="0" alt=""></img>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>
                            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
                        </p>
                        <form action="#" class="">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" placeholder="Name" type="text" id="Name"
                                    ng-model="vm.name">
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" placeholder="Email" type="text" id="Email"
                                    ng-model="vm.email">
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <textarea class="mdl-textfield__input" placeholder="Message" type="text" rows="5" id="Message"
                                    ng-model="vm.message"></textarea>
                            </div>
                            <p>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect main-button" type="button"
                                    ng-click="vm.sendEmail()">
                                    Submit
                                </button>
                                <input class="form-control" type="file" id="file-chooser" required/>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect main-button" type="button"
                                    ng-click="vm.uploadPDF()">
                                    Upload Resume
                                </button>
                                <a ng-href="{{vm.resumeHyperlink}}" style="float: right">My Resume</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>