<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="animated slideInDown">Contact</h2>
                    <hr class="star-primary"></hr>
                </div>
            </div>
            <div class="row">
                <div class="footer-col col-md-4 col-md-offset-4 text-center">
                    <ul class="list-inline animated slideInDown">
                            <li>
                                <a href="" 
                                    ng-click="vm.toggleEdit(0)"
                                    class="btn-social btn-outline">
                                    <i class="fa fa-fw fa-envelope">
                                    </i>
                                </a>
                                {{ vm.myEmailIsEditting ? '' : vm.myEmail }}
                                <input type="text" 
                                    ng-model="vm.myEmail"
                                    class="form-control"
                                    ng-show="vm.myEmailIsEditting"></input>
                            </li>
                            <li>
                                <a href="" 
                                    ng-click="vm.toggleEdit(1)"
                                    class="btn-social btn-outline">
                                    <i class="fa fa-fw fa-phone">
                                    </i>
                                </a>
                                {{ vm.myPhoneNumberIsEditting ? '' : vm.myPhoneNumber }}
                                <input type="text" 
                                    ng-model="vm.myPhoneNumber"
                                    class="form-control"
                                    ng-show="vm.myPhoneNumberIsEditting"></input>
                            </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <ng-form name="contactForm" id="contactForm" novalidate>
                        <div class="row control-group animated slideInRight">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input type="text" ng-model="vm.name" class="form-control" placeholder="Name" id="name" required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group animated slideInLeft">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input type="email" 
                                    ng-model="vm.email" 
                                    class="form-control" 
                                    placeholder="Email Address" 
                                    id="email" 
                                    name="email"
                                    ng-pattern="vm.emailRegex"
                                    required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group animated slideInRight">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <input type="tel" 
                                    ng-model="vm.phoneNumber" 
                                    class="form-control" 
                                    placeholder="Phone Number" 
                                    id="phone" 
                                    name="phone"
                                    ng-pattern="vm.phoneNumberRegex"
                                    required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group animated slideInLeft">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" ng-model="vm.message" class="form-control" placeholder="Message" id="message" required></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12 animated slideInUp">
                                <button type="submit" 
                                    class="btn btn-default" 
                                    ng-click="vm.sendEmail(contactForm)">
                                    Send Message
                                </button>
                                <a ng-href="{{vm.resumeHyperlink}}">
                                    View My Resume
                                </a>
                                </br>
                                <input type="file" id="file-chooser" ng-show="vm.loginService.isLoggedIn()" required/>
                                <button class="btn btn-default" ng-show="vm.loginService.isLoggedIn()" ng-click="vm.uploadPDF()">
                                    Upload Resume
                                </button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer-col col-md-4 col-md-offset-4">
                        <ul class="list-inline animated slideInUp">
                            <li>
                                <a href="https://www.facebook.com/brie.hope.7" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/0/118002444129419379589" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/brielhope/" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
    </section>