<div class="modal-header">
    <h3 class="modal-title text-center">Add Photo</h3>
</div>
<div class="modal-body">
    <input type="text" class="form-control" ng-model="vm.photo.name" placeholder="Name">
    <input type="text" class="form-control" ng-model="vm.photo.subText" placeholder="Sub Title">
    <input type="file" id="file-chooser" required/>
</div>
<div class="modal-footer">
    <div class="col-xs-2 pull-right">
        <button class="btn btn-info width-full" ng-click="vm.save()">Save</button>
    </div>
    <div class="col-xs-2 pull-right">
        <button class="btn btn-info width-full" ng-click="vm.cancel()">Cancel</button>
    </div>
</div>