<div class="modal-header">
    <h3 class="modal-title text-center">{{ vm.isEdit ? 'Edit' : 'Add' }} Photo</h3>
</div>
<div class="modal-body">
    <input type="text" class="form-control" ng-model="vm.photo.name" placeholder="Name">
    <input type="text" class="form-control" ng-model="vm.photo.subText" placeholder="Sub Title">
    <img ng-src="{{ vm.photo.url }}" style="height: 100px"></img>
    <input type="file" id="file-chooser" required/>
</div>
<div class="modal-footer">
    <div class="col-xs-2 pull-right">
        <button class="btn btn-info width-full" ng-click="vm.isEdit ? vm.update() : vm.save()">{{ vm.isEdit ? 'Update' : 'Save' }}</button>
    </div>
    <div class="col-xs-2 pull-right">
        <button class="btn btn-info width-full" ng-click="vm.cancel()">Cancel</button>
    </div>
</div>