    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Login</h2>
                    <hr class="star-primary"></hr>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <input type="text" 
                        class="form-control" 
                        ng-model="vm.passcode"
                        on-enter="vm.login()"
                        autofocus></input>
                </div>        
            </div>
            <div class="row">
                <br/>
                <button class="btn btn-default" ng-click="vm.login()">Login</button>
            </div>
        </div>
    </section>

    