<!-- style="width: 90%" used to prevent horizontal scrolling. -->
<div class="header-content big-screen-landing">
    <div class="header-content-inner">
        <h1 ng-hide="vm.titleIsEditting" 
            id="homeHeading"
            class="animated rotateInDownLeft">
            {{ vm.title }}
        </h1>
        <input class="form-control" 
            ng-show="vm.titleIsEditting" 
            ng-model="vm.title"/>
        <button class="btn btn-default" 
            ng-show="vm.loginService.isLoggedIn()" 
            ng-click="vm.toggleEdit(0)">
            {{ vm.titleIsEditting ? 'Done' : 'Edit Title' }}
        </button>
        <hr>
        <p ng-hide="vm.subTitleIsEditting" 
            style="margin-bottom: 0 !important"
            class="animated rotateInUpRight">{{ vm.subTitle }}</p>
        <input class="form-control" 
            ng-show="vm.subTitleIsEditting" 
            ng-model="vm.subTitle"/>
        <button class="btn btn-default" 
            ng-show="vm.loginService.isLoggedIn()" 
            ng-click="vm.toggleEdit(1)">
            {{ vm.subTitleIsEditting ? 'Done' : 'Edit SubTitle' }}
        </button>
        <br/>
        <a href="#about" 
            class="btn btn-primary btn-xl page-scroll animated bounceIn" 
            style="margin-top: 50px"
            ng-hide="vm.buttonIsEditting">
            {{ vm.buttonText }}
        </a>
        <input class="form-control" 
            ng-show="vm.buttonIsEditting" 
            ng-model="vm.buttonText"/>
        <br/>
        <button class="btn btn-default" 
            ng-show="vm.loginService.isLoggedIn()" 
            ng-click="vm.toggleEdit(2)">
            {{ vm.buttonIsEditting ? 'Done' : 'Edit Button Text' }}
        </button>
        <br/>
        <div class="row" ng-show="vm.loginService.isLoggedIn()" style="margin-top: 50px">
            <div class="col-xs-4 col-xs-offset-4">
                <input type="text" 
                    class="form-control" 
                    ng-model="vm.passcode" 
                    on-enter="vm.updatePasscode()" 
                    autofocus></input>
                <button class="btn btn-default" 
                    ng-click="vm.updatePasscode()">
                    Update Passcode
                </button>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="vm.loginService.isLoggedIn()" style="margin-top: 50px">
            <div class="col-xs-4 col-xs-offset-4">
                <input type="file" id="file-chooser" ng-show="vm.loginService.isLoggedIn()"/>
                <button class="btn btn-default" ng-click="vm.uploadBackgroundImage()">Upload Background Image</button>
            </div>
        </div>
    </div>
</div>