<div class="header-content">
    <div class="header-content-inner">
        <h1 ng-hide="vm.titleIsEditting" id="homeHeading">{{ vm.title }}</h1>
        <input class="form-control" ng-show="vm.titleIsEditting" ng-model="vm.title"/>
        <button class="btn btn-default" ng-show="vm.loginService.isLoggedIn()" ng-click="vm.toggleEdit(0)">{{ vm.titleIsEditting ? 'Done' : 'Edit Title'}}</button>
        <hr>
        <p ng-hide="vm.subTitleIsEditting" style="margin-bottom: 0 !important">{{ vm.subTitle }}</p>
        <input class="form-control" ng-show="vm.subTitleIsEditting" ng-model="vm.subTitle"/>
        <button class="btn btn-default" ng-show="vm.loginService.isLoggedIn()" ng-click="vm.toggleEdit(1)">{{ vm.subTitleIsEditting ? 'Done' : 'Edit SubTitle'}}</button>
        <br/>
        <a href="#about" class="btn btn-primary btn-xl page-scroll" style="margin-top: 50px">Find Out More</a>
    </div>
</div>