    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary"></hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item" ng-repeat="image in vm.images">
                    <div class="portfolio-link cursor-pointer portfolio-image gallery-item" ng-click="vm.selectImage(image)">
                        <div style="padding-top: 20px"></div>
                        <img ng-src="img/portfolio/thumbnails/{{image.id}}.jpg" class="img-responsive" alt="">
                        </img>
                            <h2 class="portfolio-h2">
                                <span style="padding:0 5px;">{{ image.name }}
                                </span>
                            </h2>
                    </div>
                    <br/>
                    <span class="cursor-pointer" ng-show="vm.loginService.isLoggedIn()" tooltips tooltip-template="{{ 'Delete ' + image.name }}" ng-click="vm.deleteSection()"><i class="fa fa-fw fa-close" style="color: red"></i></span>
                </div>
            </div>
            <div class="row">
                <br>
                <button class="btn btn-default" ng-show="vm.loginService.isLoggedIn()" ng-click="vm.addSection()">+ Section</button>
            </div>
        </div>
    </section>

    